@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Carattere&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --gradient: linear-gradient(
    45deg,
    #f3ca4c,
    #efb810,
    #f3ca4c,
    #ffc600,
    #000000,
    #ffc600,
    #f3ca4c
  );
  --text-color: white;
  --bg-url: url(./assets/assets/bg-mobile.jpg);
  --stroke-color: 1px solid rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.5);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/assets/moon-stars.svg);
}
.light {
  --text-color-a: #000000;
  --text-color: linear-gradient();
  --bg-url: url(./assets/assets2/c601f9c72127b653f5dff8c255c5b06b.jpg);
  --stroke-color: 1px solid #f3ca4c;
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.5);
  --highlight-color: rgba(0, 0, 0, 0.2);
  --switch-bg-url: url(./assets/assets/sun.svg);
}

body {
  background: var(--bg-url) top center/cover;
}

body * {
  color: var(--text-color);
}

#container {
  width: 350px;
  margin: 56px auto 0;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 250px;
}

/* LINKS */
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: var(--gradient);
  background-size: 400% 100%;
  animation: degrade 10s linear infinite alternate;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  border: var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 1s;
}

ul li a:hover {
  background: #000000;
  border: 1.5px solid var(--text-color-a);

  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#social-links {
  display: flex;
  justify-content: center;

  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  font-family: "Carattere", cursive;
  padding: 24px 0;
  text-align: center;
  font-size: 25px;
}

@keyframes degrade {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position: 400%;
  }
}
